.skills-img > img {
    height: 60px
}

.skills-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px
}

.about-me{
    display: flex;
    flex-direction: column;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    /* align-self: self-end; */
    float: right;
    font-size: 30px;
    padding: 0;
}

.close-button:hover {
    color: white
}

.scroll-modal {
    height: 100%;
}
