.skills-img > img {
    height: 60px
}

.skills-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px
}

.about-me{
    display: flex;
    flex-direction: column;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* position: relative; */
    z-index: 3;
    align-self: self-end;
    float: right;
    font-size: 30px;
    padding: 0;
}

.close-button:hover {
    color: white
}

.scroll-modal {
    height: 100%;
}



.profile-pic{
    position: relative;
    z-index:1;
    height:263px;
    width: 100%;
    object-fit: cover;
    display:flex;
    justify-content: center;
}

.frame {
    z-index:1;
    position:absolute;
    height:263px;
   /* right: 300px; */
    /* right: auto; */
    /* object-fit: contain; */
    /* overflow-clip-margin: content-box; */
    /* overflow: clip; */

}
.profile {
    z-index: 1;
    position:absolute;
    /* left: 137px; */
    width:130px;
    height:170px;
    /* left:40px; */
    top: 37px
}
/* @media only screen and (max-height: 900px) {
    .profile {
        width:80px;
        height:105px;
        top: 24px
    }
    .frame {
        height:162px;
    }
    .profile-pic{
        height:162px;
    }
  } */
