.profile-pic{
    position: relative;
    z-index:0;
    height: 20vh;
    width: 100%;
    object-fit: cover;
    display:flex;
    justify-content: center;
}

.frame {
    z-index:1;
    position:absolute;
    height:20vh;
   /* right: 300px; */
    /* right: auto; */
    object-fit: contain;

}
.profile {
    z-index: 1;
    position:absolute;
    width:130px;
    height:170px;
    /* left:40px; */
    top: 37px
}
