.testmap{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.me-avatar {
    position: absolute;
    /* bottom: 80px;
    left:350px; */
    transition: transform 1s;
    /* z-index: 1; */

}
.landscape {
  /* width: 100vh; */
  /* height: 100vh; */
  /* height:100%; */
  min-height: 1313px;
  position: absolute;
  /* width: 100%; */
  /* z-index: 0; */
  /* width: 100%; */
  /* object-fit: fill; */
  overflow: auto;
}


.snow {
  width: 200px;
  height:160px;
  position: absolute;
  top:55px;
  left: -40px;
  /* left:-15px; */
    /* z-index: 2; */
  /* transform: scaleX(-1); */
}
.cone {
  width: 60px;
  height:60px;
  position: absolute;
  top:130px;
  left: 10px;
}
.modal-button-snow {
  position: absolute;
  top: 750px;
  left: 210px;
}
.wizard {
  width: 200px;
  height:200px;
  position: absolute;
  top:10px;
  left: 0px;
  /* left:-15px; */
    /* z-index: 2; */
}
.modal-button-wizard {
  position: absolute;
  top: 780px;
  left: -340px;
}

.dragon {
  width: 200px;
  height:200px;
  position: absolute;
  top: 50px;
  left:10px;
  transform: scaleX(-1);
}
.modal-button-dragon {
  position: absolute;
  top: 280px;
  left:-250px;
}
.knight {
  width: 120px;
  height:120px;
  position: absolute;
  top: 50px;
  left:-30px;
  transform: scaleX(-1);
}
.modal-button-knight {
  position: absolute;
  top: 532px;
  left:65px;
}
/* .dragon:hover {
    border: 1px solid yellow;

  } */

.chest {
  width: 150px;
  height:120px;
  position: absolute;
  top: 50px;
  left:-50px;
  /* transform: scaleX(-1); */
}

.modal-button-chest {
  position: absolute;
  top: 195px;
  left:-7px;
}

.scroll {
  width: 100px;
  height:100px;
  position: absolute;
  top: 40px;
  left:-10px;
  /* animation: bounce 5s linear infinite; */
  /* transform: scaleX(-1); */
}
.modal-button-scroll {
  position: absolute;
  top: 770px;
  left:-10px;
}
.scroll:hover, .chest:hover, .knight:hover, .dragon:hover, .wizard:hover, .snow:hover {
  cursor: pointer;
}

.knight-bubble {
  top: 555px;
  left: -240px;
}

.wizard-bubble {
  top: 790px;
  left: -170px;
}
.dragon-bubble {
  top: 340px;
  left: -10px;
}
.chest-bubble {
  top: 285px;
  left: 30px;
}
.scroll-bubble {
  top: 805px;
  left:30px;
}

.start-bubble {
  top:1025px;
  left:50px;
}
.globe-bubble{
  top:815px;
  left:-65px;
}
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: absolute;
  width: 200px;
  height: auto;
  background-color: lightyellow;
  /* top:1080px;
  left: 52%; */
  /* left: 880px; */
  z-index: 1;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}
.talktext{
  padding: 1em;
    text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  /* top: 80px; */
  top: 50%;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-left.right-in:after{
	content: ' ';
	position: absolute;
	/* width: 0; */
	/* height: 0; */
  /* left: auto; */
	right: -24px;
  /* top: 80px; */
  top: 50%;
	/* bottom: auto; */
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

.hide{
    display:none;
}

.modal-button-wizard, .modal-button-knight, .modal-button-dragon, .modal-button-chest, .modal-button-scroll, .start, .modal-button-snow {
  height:50px;
  background-color: #302C2D;
  border: 1px solid rgb(87, 86, 86);
  border-radius: 5px;
  color: white;
  font-family: minecraftia;
  /* display: block */
  width: max-content;
  text-align: center;
  /* justify-content: center; */

}
.button-text {
  text-align: center;
}
.modal-button-wizard:hover, .modal-button-knight:hover, .modal-button-dragon:hover, .modal-button-chest:hover, .modal-button-scroll:hover, .start:hover, .modal-button-snow:hover {
  cursor: pointer;

}

.site-links {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

h3{
  text-align: center;
}
p, h3 {
  /* font-family: minecraftia;
  src: url(/public/minecraftia.ttf); */
  /* font-size: small; */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


/* @media only screen and (max-width: 540px) {
  .landscape {
    width: 400px;
    min-height:200px
  }

} */
@media only screen and (max-width: 740px) {
  .landscape {
    width: 740px;
  }

}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
