.testmap{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.me-avatar {
    position: absolute;
    /* bottom: 80px;
    left:350px; */
    transition: transform 1s;
    /* z-index: 1; */

}
.landscape {
  /* width: 100vh; */
  /* height: 100vh; */
  /* height:100%; */
  min-height: 1313px;
  position: absolute;
  /* z-index: 0; */
  /* width: 100%; */
  /* object-fit: fill; */
}

.wizard {
  width: 200px;
  height:200px;
  position: absolute;
  top:790px;
  left: -200px;
  /* left:-15px; */
    /* z-index: 2; */
}
.dragon {
  width: 200px;
  height:200px;
  position: absolute;
  top: 350px;
  left:-90px;
  transform: scaleX(-1);
}

.knight {
  width: 120px;
  height:120px;
  position: absolute;
  top: 583px;
  left:170px;
  transform: scaleX(-1);
}
/* .dragon:hover {
    border: 1px solid yellow;

  } */

.chest {
  width: 150px;
  height:120px;
  position: absolute;
  top: 255px;
  left:80px;
  /* transform: scaleX(-1); */
}

.scroll {
  width: 100px;
  height:100px;
  position: absolute;
  top: 810px;
  left:115px;
  /* animation: bounce 5s linear infinite; */
  /* transform: scaleX(-1); */
}

.scroll:hover, .chest:hover, .knight:hover, .dragon:hover, .wizard:hover {
  cursor: pointer;
}


  .talk-bubble {
	margin: 40px;
  display: inline-block;
  position: absolute;
	width: 200px;
	height: auto;
	background-color: lightyellow;
    left: 400px;
    bottom:-20px;
    z-index: 1;
}
.round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;

  }
  .talktext{
    padding: 1em;
      text-align: left;
    line-height: 1.5em;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  .tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 80px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.hide{
    display:none;
}
