.testmap{
  position: relative;
  height: 100vh;
}
.me-avatar {
    position: absolute;
    bottom: 7%;
    left:48%;
    transition: transform 1s;
    z-index: 10;
    width: 6%
}
.landscape {
  /* width: 100vh; */
  height: 100vh;
  position: absolute;
  /* z-index: 1; */
  /* width: 100%; */
  /* object-fit: contain; */
}

.wizard {
    width: 25%;
    height:200px;
    position: absolute;
    bottom: 300px;
    left:5%;
    /* z-index: 2; */
}
.dragon {
    width: 25%;
    height:200px;
    position: absolute;
    top: 350px;
    left:10%;
    transform: scaleX(-1);
}

.knight {
    /* width: 120px; */
    width:20%;
    height:120px;
    position: absolute;
    bottom: 500px;
    right:25%;
    /* left:430px; */
    transform: scaleX(-1);
}
/* .dragon:hover {
    border: 1px solid yellow;

  } */

  .chest {
    width: 20%;
    height:120px;
    position: absolute;
    top: 255px;
    left:40%;
    /* transform: scaleX(-1); */
}

.scroll {
  width: 20%;
  height:100px;
  position: absolute;
  bottom: 400px;
  left:40%;
  /* animation: bounce 5s linear infinite; */
  /* transform: scaleX(-1); */
}

.scroll:hover, .chest:hover, .knight:hover, .dragon:hover, .wizard:hover {
  cursor: pointer;
}


  .talk-bubble {
	margin: 40px;
  display: inline-block;
  position: absolute;
	width: 200px;
	height: auto;
	background-color: lightyellow;
    left: 400px;
    bottom:-20px;
    z-index: 1;
}
.round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;

  }
  .talktext{
    padding: 1em;
      text-align: left;
    line-height: 1.5em;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  .tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 80px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.hide{
    display:none;
}
