.resume-download {
    position: relative;
    /* object-fit:fill; */
    /* min-height:max-content; */
    /* display: flex; */
    height: 100%;


}
.resume {
    width: 100%;
    /* position: absolute; */
    display:block;

}

.resume:hover{
        filter: opacity(50%)
}

.fa-solid, .fa-brands {
    /* position: rel; */
    /* display:none */
    color: black;
    font-size: 40px;

}
.fa-solid:hover, .fa-brands:hover {
    /* position: rel; */
    /* display:none */
    color: blueviolet;
    /* font-size: 40px; */

}

/* .resume > .download-icon:hover {
    filter: opacity(50%)
} */


.download-icon  {
    position: absolute;
    /* top: 50%; */
    top: 0;
    left: 0;
    height:100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: 100%;
    justify-content: center;
    /* z-index: 1; */
    /* display:none */
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    align-items: center;
    transition: opacity 0.25s;

}

.download-icon:hover {
    opacity: 1
}

/* .resume-icon > i {
    text-decoration: none;
} */

.contacts-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px
}
