#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    /* position: absolute; */
    background-color: rgb(117, 95, 40);
    /* border-radius: 7px; */
    /* border: 1px solid rgb(87, 86, 86); */
    /* height: fit-content; */
    /* min-width: 40%; */
    /* min-height: 80%; */
    width: 60%;
    /* max-width: 80%; */
    /* width: 400px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* display: inline-block; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 10px;
    z-index: 2;

  }

.project-button {
  border-radius: 3px;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}

.project-button:hover{
  background-color: black;
  color:white
}
@media only screen and (max-height: 900px) {
  #modal-content {
    width: 100%;
  }
}
